/*!
 * @Author: chenqiwei.net 
 * @Date: 2021-06-27 20:42:09 
 * @Last Modified by: chenqiwei.net
 * @Last Modified time: 2021-07-07 22:14:44
 */
.say-see:first-of-type{
    margin-top: 20px;
}
.say-see li{
    border-left: 1px solid #000;
margin-left: 28px;
padding-left: 43px;
min-height: 72px;
padding-bottom: 6px;
padding-top: 6px;
}
.say-see-time{
    position: absolute;
left: -29px;
border: 1px solid;
padding: 0 8px;
text-align: center;
border-radius: 4px;
margin-top: 4px;
background: #fff;
line-height: 20px;
}
.say-see-time-year,.say-see-time-month{
    font-size: 12px;
    color: #666;
}
.say-see-time-day{
    font-weight: bold;
    font-size: 20px;
}
.say-see-list-con{
    font-size: 15px;
}