/*!
 * @Author: chenqiwei.net 
 * @Date: 2021-09-11 10:15:25 
 * @Last Modified by: chenqiwei.net
 * @Last Modified time: 2021-10-10 20:02:39
 */

/*评论*/
.comment-list .comment-respond {
  margin-bottom: 35px;
}
.comments-area {
  padding-top: 5px;
  border-top: 2px dashed #eaeaea;
  margin-top: 25px;
}
.comment-reply-title {
  margin: 15px 0 -4px 0;
  font-size: 1.2em;
}
#commentform p.comment-notes,
#commentform p.logged-in-as,
#commentform label,
.comment-form-cookies-consent {
  display: none;
}
.comments-area p {
  margin: 0;
}

.form-submit input {
  margin: auto 10px;
  width: auto;
  height: 30px;
  padding: 0 10px !important;
  line-height: 30px;
  float: right;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #eaeaea;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.02);
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  min-height: 20px;
  margin-top: 20px;
  overflow-y: hidden;
}
input,
textarea {
  outline: none;
  color: #333;
  border: none;
  border-bottom: 1px dashed #eaeaea;
  height: 30px;
  min-height: 30px;
  line-height: 20px;
  font-family: inherit;
  font-size: 14px;
  padding: 0px;
  padding-bottom: 8px;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wp-block-button__link {
  padding: 0 !important;
  color: unset !important;
  font-size: unset !important;
}


#respond #comment {
  min-height: 80px;
  height: 80px;
  max-height: 80px;
  max-width: 100%;
  padding: 8px;
  margin: 0;
  resize:none;
  border: none;
  overflow: auto;
}
#comments-bg {
  position: absolute;
  width: 100%;
  height: 80px;
  left: 0;
  z-index: 1000;
  display: inline-block;
  box-sizing: border-box;
  line-height: 80px;
}
#respond-avatar img {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
  transition: all 1s;
}
#respond-avatar img:hover {
  transform: scale(1.1);
}
#respond-avatar,
.respond-text {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  padding-left: 15px;
}
.respond-text {
  color: darkgrey;
  font-style: oblique;
  font-size: 14px;
}
#comments-bg {
  cursor: text;
}

/* 颜文字 */
#qwq{
  border-right: none;
  padding-right: 0;
}
#qwq .qwq-on {
  cursor: pointer;
  font-size: 14px;
  display: inline-block;
}
#qwq .qwq-show {
  border-top: 1px dashed #e5e5e5;
  margin-top: 10px;
 
}
#qwq span {
  font-size: 12px;
  margin: 4px 4px;
  padding: 4px 4px;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  line-height: normal;
}
@media (any-hover: hover) {
  #qwq span:hover {
    background: #e5e5e5;
  }
}

.comment-form-show .comment-form-author,
.comment-form-show .comment-form-email,
.comment-form-show .comment-form-url,
.comment-form-show .form-submit,
.comment-form-show .comment-tool{
  display: inline !important;
  font-size: 13px;
}
.comment-btn-show .form-submit,.comment-btn-show .comment-tool{
  display: inline !important;
  font-size: 13px;
}
.comment-form-show::after{
  clear: both;
  content: "";
  display: block;
  width: 0;
  height: 0;
  visibility: hidden;
}
.comment-form-author,.comment-form-email,.comment-form-url,.form-submit,.comment-tool{
  display: none;
}

.comment-tool{
  border-right: 1px solid #eaeaea;
  padding: 0 8px;
  line-height: 30px;
  height: 30px;
}

#pre-avatar{
  padding-left: 0;
}
@media screen and (max-width: 440px)  {
  .comment-btn-show .form-submit,.comment-form-show .form-submit {
    display: flex !important;
  }
  .form-submit input{
    width: 100%;
    box-sizing:content-box;
    float: unset;
  }
  .comment-form{
    padding-bottom: 0 !important;
  }
}
.comment-form-show .comment-form,.comment-btn-show .comment-form{
padding-bottom: 6px;
height: auto;
}
/* 隐私评论 */
.checkbox_input{
  width: auto;
  min-height: auto;
  height: auto;
  padding: 0;
  margin: 0 4px 0 0;
  position: relative;
    top: 1px;
}
.checkbox_input:hover,#secret label:hover{
  cursor: pointer;
}
#secret label{
  display: inline;
}
/* 重置 */
.comment-form{
  border: 1px solid #eaeaea;
  border-radius: 4px;
  margin-top: 25px;
  -webkit-box-sizing: border-box;
  box-sizing: content-box;
  line-height: 1.75;
  height: 80px;
} 
.comment-form [class^=comment-form] input{
  width: 33.33%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  float: left;
}
.comment-form-email input{
  border-left: 1px dashed #eaeaea;
  border-right: 1px dashed #eaeaea;
}
@media screen and (max-width: 400px) { 
  .comment-form [class^=comment-form] input{
      width: 100%;
  }
}

.comment-form [class^=comment-form] input:focus,.comment-form [class^=comment-form] textarea:focus {
  border-bottom-color: #000;
}

.comment-form  #wp-comment-cookies-consent{
  display: none;
}
#pre-avatar{
  margin-left: 8px;
  margin-top: 4px;
}
#pre-avatar img{
  width: 20px;
  transition: all 1s;
  vertical-align: middle;
  border-radius: 50%;
}
#pre-avatar img:hover {
  transform: scale(1.1);
}
#pre-avatar .editRep{
  margin-left: 6px;
}

#commentTip{
  font-size: 13px;
    color: darkgray;
    margin-top: 10px;
}