.jdt-box{
    border: 1px solid #eaeaea;
    width: 100%;
    border-radius: 8px;
}
.jdt {
    background: #999;
    height: 16px;
    border-radius: 8px;
}
.week-item {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid sandybrown;
    text-align: center;
  }
  .date-item {
    display: inline-block;
    width: 80px;
    height: 40px;
    line-height: 40px;
    border: 1px solid beige;
    text-align: center;
  }
.box,.Table{
    max-width: 320px !important;
    margin-left: 0 !important;
}

div.box{
  width: 620px;
  height: 620px;
  background: url("../time.jpg") no-repeat;
  background-size: 100%;
  margin: 20px auto;
  position: relative;
}
div.box span{
  position: absolute;

}
div.box span:nth-child(3){
  width: 58px;
  height: 208px;
  background: url("../time_1.png") no-repeat -8px -44px;
  left: calc(50% - 29px);
  top: 130px;
  transform-origin: center 174px;
}
div.box span:nth-child(2){
  width: 32px;
  height: 228px;
  background: url("../time_1.png") no-repeat -72px -10px;
  left: calc(50% - 16px);
  top: 97px;
  transform-origin: center 205px;
}
div.box span:nth-child(1){
  width: 14px;
  height: 238px;
  background: url("../time_1.png") no-repeat -131px -0px;
  left: calc(50% - 8px);
  top: 106px;
  transform-origin: center 198px;
}