.readerswall ul{
    list-style-type: none;
    padding: 0;
    margin: 0 -15px;
}
.readerswall li{
    margin-bottom: 10px;
}
.readerswall li .content{
    margin: 6px 15px;
}
.reader-avatar{
    width: 42px;
    height: 42px;
}

.reader-avatar img{
    border-radius: 50%;
}
.reader-info{
    margin-top: -2px;
    margin-left: 10px;
}
.reader-info a{
    height: 24px;
    display: block;
    overflow: hidden;
    line-height: 28px;
}
.readerswall sup{
    padding-left: 6px;
font-style: italic;
}
.top1 .content,.top2 .content,.top3 .content {
    border: 1px solid #e5e5e5;
    padding: 6px 10px;
    border-radius: 4px;
}
.reader, .reader-name{
    display: flex;
}
.top1-name,.top2-name,.top3-name{
    font-size: 12px;
}
.top1-name{
    color: #FF5E52;
}
.top2-name{
    color: #7CCD38;
}
.top3-name{
    color: #52BAF5;
}
.readerswall .default .content,.readerswall .default .reader-info{
    display: flex;
}
.readerswall .default .reader-avatar{
    width: 24px;
    height: 24px;
}
.reader-avatar img:hover{
    cursor: pointer !important;
}