/*!
 * @Author: chenqiwei.net 
 * @Date: 2021-10-07 14:58:08 
 * @Last Modified by: chenqiwei.net
 * @Last Modified time: 2021-10-07 15:56:11
 */
#secretComment{
    position: fixed;
    background: rgba(0,0,0,.4);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
}
#secretComment .site-content {
    display: table;
    min-width: 300px;
    background-color: #fff;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 20px 20px;
    box-sizing: border-box;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
    max-height: 100%;
    width: 90%;
}
#secretComment .site-content h2{
    text-align: center;
    font-size: 16px;
    margin: 0;
}
#secretComment .secret-comment-con
   {
    z-index: 9999998;
    overflow: auto;
    position: fixed;
    width: 100%;
   
}
.secret-comment-close {
    cursor: pointer;
    display: inline-block;
    -moz-opacity: .7;
    opacity: .7;
    position: fixed;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 40px;
    z-index: 9999999;
}
.secret-comment-input, .secret-comment-button{
    height: 30px;
    line-height: 30px;
    vertical-align: top;
    width: 100%;
    margin-top: 20px;
}
.secret-comment-tip{
    color: darkgray;
    font-size: 13px;
    margin-top: 15px;
}
.secret-comment-text{
    border: 1px solid #eaeaea;
border-radius: 3px;
padding: 5px 10px;
margin-top: 15px;
font-size: 14px;
color: #000;
}