/*!
 * @Author: chenqiwei.net 
 * @Date: 2021-05-29 19:20:35 
 * @Last Modified by: chenqiwei.net
 * @Last Modified time: 2021-10-16 15:54:21
 */
 @media screen and (max-width: 720px) { 
    #userInfo{
        width: 90%;
        left: 5%;
        top: 10%;
        height: 80%;

    }
 }
 @media screen and (min-width: 720px) { 
    #userInfo{
        width: 70%;
        left: 15%;
        top: 10%;
        height: 80%;
    }
 }
 #userInfoBox{
 position: fixed;
 background: rgba(0,0,0,0.4);
 height: 100%;
 width: 100%;
 top: 0;
 left: 0;
 z-index: 10000;
}
#userInfo {
    background-color: #fff;
    text-align: center;
    z-index: 9999998;
    overflow: auto;
    position: fixed;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    box-shadow: 0 2px 10px 0 rgb(0 0 0 / 10%);
}
#userInfoClose-button{
    cursor: pointer;
    display: inline-block;
    -moz-opacity: .7;
    opacity: .7;
    position: fixed;
    right: 15px;
    top: 0;
    color: #000;
    font-size: 40px;
    z-index: 9999999;
}
#userInfo .site-content{
    max-width: 720px;
    min-width: 300px;
    max-height: 100%;
    margin: 100px auto 100px auto;
    text-align: left;
    padding: 0 5%;
}
.user-desc img{
    border-radius: 50%;
    border: 1px solid #e6e9ed;
    transition: all 2s;
    padding: 4px;
}
.user-desc img:hover{
    transform: rotate(360deg);
}
.user-desc{
    font-size: 12px;
    text-align: center;
}
.user-desc h2{
    font-size: 26px;
    margin: 2px auto;
}
.user-desc .site-url{
    font-size: 15px;
    line-height: 36px;
}
.info-list-title{
    margin: 15px 0 10px;
    font-weight: 700;
    font-size: 17px;
}
.info-list-title span{
    float: right;
    font-weight: normal;
    font-size: 14px;
}
.info-list-con{
    background: rgba(0,0,0,0.03);
    margin: 10px 0;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
}
.info-list-con a{
    color: #2f2f2f;
}
.info-list-con a:hover{
    color: #000;
}
.avatar-info{
    border-top: 1px solid #e6e9ed;
    margin: 25px 0;
    padding-top: 15px;
    font-size: 14px;
    font-style: italic;
    display: inline-block;
}
.user-info-colse-btn  {
    border: 1px solid #eaeaea;
    border-radius: 17px;
    text-align: center;
    background: 0 0;
    width: 60%;
    padding: 6px 0;
    color: #333;
    font-size: 15px;
    display: block;
    margin: 20px auto 30px;
}
.info-list-con img{
    cursor: pointer;
}
.secret-comment{
    color: darkgray;
}
.info-list-con p{
    margin: 0;
    padding: 0;
}